---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>

    <div class="side-wrap">
      <div class="sidebar-nav-item-title">Category</div>
      <nav class="content-ul">
        {% for category in site.categories %}
        <a href="{{ site.root_url }}/{{ site.category_dir }}#{{ category | first }}" class="sidebar-nav-item pl-3rem" onclick="location.hash='{{ category | first }}';location.reload()">
                              <span class="name">
                                  {{ category | first }}
                              </span>
          <span class="badge">{{ category | last | size }}</span>
        </a>
        {% endfor %}
      </nav>
    </div>

    <div class="side-wrap">
      <div class="sidebar-nav-item-title">Tags</div>
      <div class="tags-cloud">
        <div>
          {% assign first = site.tags.first %}
          {% assign max = first[1].size %}
          {% assign min = max %}
          {% for tag in site.tags offset:1 %}
          {% if tag[1].size > max %}
          {% assign max = tag[1].size %}
          {% elsif tag[1].size < min %}
          {% assign min = tag[1].size %}
          {% endif %}
          {% endfor %}

          {% if max == min %}
          {% assign diff = 1 %}
          {% else %}
          {% assign diff = max | minus: min %}
          {% endif %}

          {% for tag in site.tags %}
          {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
          {% assign base = temp | divided_by: 4 %}
          {% assign remain = temp | modulo: 4 %}
          {% if remain == 0 %}
          {% assign size = base | plus: 9 %}
          {% elsif remain == 1 or remain == 2 %}
          {% assign size = base | plus: 9 | append: '.5' %}
          {% else %}
          {% assign size = base | plus: 10 %}
          {% endif %}
          {% if remain == 0 or remain == 1 %}
          {% assign color = 9 | minus: base %}
          {% else %}
          {% assign color = 8 | minus: base %}
          {% endif %}
          <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ 9 | minus: color }}{{ 9 | minus: color }}{{ 9 | minus: color }};" onclick="location.hash='{{ tag[0] }}';location.reload()">{{ tag[0] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <!--
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
      -->
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; <a href="mailto:example.david@blog.com">{{site.author}}</a></p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
